{% extends 'base.html' %} {% load static %}

{% block title %}
ReleCloud - Destinations
{% endblock %}

{% block content %}
<h1>ReleCloud Destinations</h1>

<ul class="list-group">
    {% for destination in destinations %}
    <li class="list-group-item">
        <a class="list-group-item-action" href="{% url 'destination_detail' destination.id %}">
            <img src="{% static 'res/img/' %}{{ destination.name }}.jpg" alt="{{ destination.name }} Photo"
                class="img-thumbnail" style="width: 55px; height: 55px; margin-left: 7px;">
            {{ destination.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}